---
import { AMAZON_LINK_NOTE } from '../config.ts';
---
<p class="link-level-disclosure">{AMAZON_LINK_NOTE}</p>

<style>
  .link-level-disclosure {
    margin: 0.45rem 0 0;
    font-size: 0.76rem;
    line-height: 1.35;
    color: #625d55;
  }
</style>
